.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}

.input {
    width: 20%;
    height: 25px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #24a0ed;
    border-radius: 5px;
    font-size: 16px;
    background-color: #24a0ed;
    color: #f5f5f5;
    cursor: pointer;
}

.customSearch {
    position: relative;
    width: 300px;
  }
  .customSearchInput {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 100px;
    padding: 10px 100px 10px 20px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
  }
  .customSearchButton {
    position: relative; 
    padding: 0 10px;
    border: 1px solid #24a0ed;
    border-radius: 0px;
    font-size: 16px;
    background-color: #24a0ed;
    color: #f5f5f5;
    border-color: rgb(79, 79, 79);
    cursor: pointer;
  }

  .customSearchButton2 {
    position: relative;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    border: 0;
    background: #d1095e;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    border-radius: 100px;
    z-index: 2;
  }
 /* stock.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  max-width: 500px; /* Limit the maximum width of the container */
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  background-color: #f2f2f2;
}

.profile-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-label {
  font-size: 18px;
  margin-bottom: 8px;
}

.league-button {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  transition: background-color 0.3s ease;
}
