.footer {
    background-color: #e5e5e5;
    padding: 1rem;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.footerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.footerColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.footerColumn h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.footerColumn ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footerColumn ul li{
    margin-bottom: 0.5rem;
}

.footerColumn ul li a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}