.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navHomeTxt {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.searchInput {
    width: 15%;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 1rem;
    outline: none;
}

.headerButton {
    background-color: #24a0ed;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    outline: none;
}

.headerTxtBtn {
    background-color: transparent;
    color: #000;
    border: none;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}