.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button {
    width: 3rem;
    height: 3rem;
    border: none;
    font-size: 1.75rem;
    font-weight: 400;
    cursor: pointer;
    transition: 0.2s ;
    margin-left: 1rem;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    justify-content: center;
}