.container{
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.button{
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
}

.input{
    padding: 1px 10px;
    margin: 10px 0;
}

.form label{
    font-size: 1.5rem;
    font-weight: 700;
}

.formButton{
    width: 6rem;
    height: 1.5rem;
    font-size: 1rem;
}

