.headerContainer{
    text-align: center;
    margin: none;
    margin-top: 2rem;
}

.body {
    display: flex;
    width: 100%;
}

.body h2{
    padding: 2rem;
    margin-top: 2rem
}

.memberContainer{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 45%;
    text-align: center;
}

.chartContainer{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    text-align: center;
}