.memberList{
    display: flex;
    flex-direction: column;
    width: auto;
    border-radius: 10px;
    gap: 5px;
}

.members{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 25vw;
    gap: 20px;
    background-color: transparent;
    border: 1px solid black;
    min-width: 200px;
    border-radius: 10px;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memberContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
